{% extends 'TechCorpFrontBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/symphony2_201810/projectSymfony2/web/bundles/techcorpfront/css/style.css" />
{% endblock stylesheets %}

{#
{% block javascripts_body %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { 'callback': 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('bundles/techcorpfront/js/manage-friends.js') }}"></script>
{% endblock javascripts_body %}
#}
{% block javascripts_body %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { 'callback': 'fos.Router.setData' }) }}"></script>
{% endblock javascripts_body %}

{% block content %}
    <div class="container">
        <h1>Timeline de {{ user.username }}</h1>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user == user %}
            {% if not app.user.hasFriend(user) %}
                <button class="btn btn-primary add-friend" data-user-id="{{ user.id }}">Ajouter à la liste d'amis</button>
            {% else %}
                <button class="btn btn-primary remove-friend" data-user-id="{{ user.id }}">Supprimer de la liste d'amis</button>
            {% endif %}
        {% endif %}
        <br/><br/>

        {% if statuses != null %}
            <div class="container">
                {% for status in statuses %}
                    {% include 'TechCorpFrontBundle:_components:status.html.twig' with {status: status} %}
                        {% if not loop.last %}
                            <hr class="status-separator" />
                        {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>
               Cet utilisateur n'a pour le moment rien publié.
            </p>

        {% endif %}

        <h2>Liste des personnes ajoutées</h2>
        {% for currFriend in user.friends %}
            <p>{{ currFriend.username }}</p>
        {% else %}
            <p>Cet utilisateur n'a pas d'ami.</p>
        {% endfor %}
    </div>
{% endblock content %}
