{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="container">
    <h1>Liste des articles publiés</h1>
    <div class="col-xs-12">
        <a href="{{ path('front_sheet_ckeditor') }}" class="btn btn-default">Créer un nouvel article</a>
    </div>
    <table class="table table-hover article_list_table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Service</th>
                <th>Date de publication</th>
                <th>langue</th>
                <th>Publié ?</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.titre }}</td>
                <td>{{ article.service }}</td>
                <td>{{ article.datePublication|date('Y-m-d') }}</td>
                <td>{{ article.lang }}</td>
                <td>{{ article.publicated }}</td>
                <td><a href="{{ path('front_sheet_ckeditor_modifier', {id: article.id}) }}" class="btn btn-info">Editer</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}